
.paleta_de_cores {
    color: #070709;
    color: #4B2D2E;
    color: #824334;
    color: #B99470;
    color: #C4661F;
    color: #F42C1D;
    color: #AE1918;
    color: #701C1A;
}
body {
    background-color: #701C1A;
    /* background: radial-gradient(#ff7f50, #fff, #ff7f50); */
    color: #B99470;
    font-family: sans-serif;
}
.card {
    border: 1px solid #4B2D2E;
    border-radius: 16px;
    box-shadow: 0 0 15px #B99470;
    width: 600px;
    /* Dentro da tag body a centralização, só funciona assim: margin:0 auto */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    /* obs: centralizou até foto e icons!! */
    text-align: center;
    padding: 32px;

    /* background: linear-gradient(#824334, #fff3, #824334); */
    background-color: #070709;

    /*! Não FUnciona o posicionamento centralizado */
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%); */
    /*! Não funciona também-seria um desfocado */
    backdrop-filter: blur(20px);
}
.perfil img {
    border: 1px solid #701C1A;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    object-fit: cover;
    box-shadow: 0 0 25px #C4661F;
}
.perfil h1 {
    font-size: 34px;
    color: #C4661F;
    text-shadow: 0px 0px 1px #B99470;
    transition-duration: 0.3s;
}
.perfil h1:hover {
    transform: scale(1.1);
}
.perfil h3 {
    color: #B99470;
}
.perfil h3 a {
    text-decoration: none; /* Remove o sublinhado */
    color: inherit; /* Mantém a cor do elemento pai */
    font-size: inherit;
}
.redes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}
.redes a {
    color: #B99470;
    text-decoration: none;
    border: 1px solid;
    box-shadow: 0 0 5px #B99470;
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(#701C1A, #070709, #701C1A);
    transition-duration: 0.3s;
}
.redes a:hover {
    transform: scale(1.1);
}
.minibio {
    border: 1px solid #B99470;
    padding: 8px;
    border-radius: 8px;
    background: linear-gradient(#701C1A, #070709, #701C1A);
    box-shadow: 0 0 5px wheat;
    transition-duration: 0.3s;
}
.minibio:hover {
    transform: scale(1.1);
}
.minibio strong {
    color: #C4661F;
}
.assinatura-MM {
    font-size: 11px;
    color: #C4661F;
    padding-top: 20px;
    transition-duration: 0.3s;
}
.assinatura-MM:hover {
    transform: scale(1.1);
}

/* Responsividade:  */
@media (max-width: 960px) {
    .card {
        width: 400px;
    }
    .perfil img {
        width: 170px;
        height: 170px;
    }
    .perfil h1 {
        font-size: 28px;
    }
    .perfil h3 {
        font-size: medium;
    }
    .redes {
        height: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 20px;      
    }
    .redes a {
        margin-bottom: 10px;
        font-size: 16px;
    }
    .minibio {
        font-size: 16px;
    }
    .minha-assinatura {
        font-size: 10px;
    }
}

@media (max-width: 610px) {
    .card {
        width: 250px;
    }
    .perfil img {
        width: 150px;
        height: 150px;
    }
    .perfil h1 {
        font-size: 25px;
    }
    .perfil h3 {
        font-size: small;
    }
    .redes {
        margin-bottom: 10px;
    }
    .redes a {
        margin-bottom: 8px;
        font-size: 15px;
    }
    .minibio {
        font-size: 15px;
    }
    .minha-assinatura {
        font-size: 08px;
    }
}